@model ClassLibrary1.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_CustomerMaster.cshtml";
}
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h2 style="text-align: center;background-color: burlywood;">Change Password</h2>

    @using (Html.BeginForm("SaveChangePassword", "Activity", FormMethod.Post))
    {           
        <form>
            <div style="clear: both; height: 20px"></div>
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label for="email">
                                Old Password</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div style="clear: both; height: 10px"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label for="email">
                                New Password
                            </label>
                        </div>
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div style="clear: both; height: 10px"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label for="email">
                                Confirm New Password
                            </label>
                        </div>
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.CompareNewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CompareNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div style="clear: both; height: 20px"></div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-info">Save</button>
                    </div>
                    <div style="clear: both; height: 20px"></div>
                    <div class="col-sm-12 text-center">
                        <div class = "text-danger">
                            @Html.ValidationSummary(true)
                        </div>
                    </div>

                </div>
            </div>
            @* @Html.LabelFor(m => m.PageMessage, new { @class = "form-control mb10", @id = "lblMessage" })*@
        </form>
    }

</body>
</html>

